repos:
- repo: https://github.com/psf/black-pre-commit-mirror
  rev: 26.1.0
  hooks:
  - id: black
    name: black
    description: "Black: The uncompromising Python code formatter"
    entry: black
    language: python
    language_version: python3
    minimum_pre_commit_version: 2.9.2
    require_serial: true
    types_or: [python, pyi]

- repo: https://github.com/pycqa/flake8
  rev: 7.3.0
  hooks:
  - id: flake8
    args: [
      "--extend-ignore=E722,B001"
    ]
    additional_dependencies:
    - flake8-bugbear
    - flake8-comprehensions
    - flake8-simplify

- repo: https://github.com/asottile/pyupgrade
  rev: v3.21.2
  hooks:
  - id: pyupgrade
    args: [--py310-plus]

- repo: https://github.com/asottile/reorder-python-imports
  rev: v3.16.0
  hooks:
  - id: reorder-python-imports
    args: ["--py310-plus"]

- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v6.0.0
  hooks:
    - id: check-builtin-literals
    - id: check-added-large-files
    - id: check-case-conflict
    - id: check-toml
    - id: check-yaml
    - id: debug-statements
    - id: end-of-file-fixer
    - id: forbid-new-submodules
    - id: mixed-line-ending
    - id: trailing-whitespace
    - id: name-tests-test
    - id: file-contents-sorter
      files: MANIFEST.in|.gitignore

- repo: https://github.com/pre-commit/mirrors-mypy
  rev: v1.19.1
  hooks:
  - id: mypy
    language_version: python3.12
    exclude: conf.py$

# - repo: https://github.com/PyCQA/pydocstyle
#   rev: 6.3.0
#   hooks:
#   - id: pydocstyle
#     files: egret.py
#     args:
#     - --convention=numpy
#     - --add-select=D417
#     additional_dependencies: [".[toml]"]
